body {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    background-color: #E4DDDF; /* Updated background color */
    color: #5C3A3A; /* Dark brown text color */
    text-align: center;
}

.header-image {
    width: 100%;
    height: auto;
    max-height: 300px; /* Adjust the max-height as needed */
    object-fit: cover; /* Ensures the image covers the header area without distortion */
}

.title-container {
    padding: 20px 0;
    background-color: transparent; /* Ensure the background is set to transparent */
    border-bottom: 2px solid #5C3A3A; /* Add a solid line below the title */
    width: 100%;
    max-width: 1000px; /* Limit the width of the title area */
    margin: 0 auto; /* Center the title container */
    position: relative;
    top: 20px; /* Position it near the top of the screen */
}

.main-title {
    font-size: 4rem; /* Large font size for your name */
    margin: 0 0 10px 0;
    color: #FFFFFF; /* Set title color to white */
}

.subtitle {
    font-size: 1.5rem; /* Smaller font size for the subtitle */
    font-weight: 300; /* Light font weight for a softer look */
    margin: 0 0 20px 0;
}

.profile-pic {
    max-width: 500px; /* Adjust the size as needed */
    height: auto;
    margin-top: 20px; /* Space between the subtitle and the image */
    margin-bottom: 20px; /* Space between the image and the line */
}

.additional-text {
    font-size: 1.2rem; /* Slightly smaller than the subtitle */
    font-weight: 300; /* Light font weight */
    color: #000000; /* Black font color */
    text-align: left; /* Left-align the text */
    margin: 20px auto; /* Space around the text and center within the container */
    max-width: 800px; /* Limit the width of the text area */
    padding: 0 20px; /* Add some padding on the sides */
}
