body {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    background-color: #E4DDDF; /* Updated background color */
    color: #5C3A3A; /* Dark brown text color */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.header-image {
    width: 100%;
    height: auto;
    max-height: 300px; /* Adjust the max-height as needed */
    object-fit: cover; /* Ensures the image covers the header area without distortion */
}

.title-container {
    padding: 20px;
    background-color: #F4E7DD; /* Light background for the title area */
    border-bottom: 1px solid #B49391; /* Subtle bottom border */
    width: 100%;
    max-width: 800px; /* Limit the width of the title area */
}

.main-title {
    font-size: 3.5rem; /* Large font size for your name */
    margin: 20px 0 10px 0;
    color: #FFFFFF; /* Set title color to white */
}


.subtitle {
    font-size: 1.5rem; /* Smaller font size for the subtitle */
    font-weight: 300; /* Light font weight for a softer look */
    margin: 0 0 20px 0;
}
